/* 导航栏 flex */

.header {

  margin: 2rem 9rem 1rem 9rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;

}
.header h2 {
  font-size: 4.4rem;
}
.logo{
  align-self: flex-end;
  display: flex;
  gap:8px
}
.cat{
  height: 5rem;
  width: 5rem;
}


.main-nav-list{
  font-size: 2rem;
  font-weight: 800;
  color: #39332e;
  list-style: none;
  justify-items: center;
}

.main-nav-link{
  color: #39332e;
  text-decoration: none;
}

.main-nav{
  border: #991b1b solid 3px;
  border-radius: 10px;
  padding: 3px;
  justify-self: end;
}

/* 封面 */
.article-poster{
  height: 80vh;
  background-image:url(/02.png);
  background-size: cover;
  background-position: center;
}


.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.article-title{
  font-size: 9.8rem;
}
.article-detail{
  font-family: "LXGW WenKai", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  display: flex;
  gap:5px
}
.icon-write{
  height: 2.4rem;
  width: 2.4rem;
}

/* 文字 */
.article{
  font-size: 18px;
  line-height: 2;
  font-family: "LXGW WenKai", sans-serif;
  width: 65rem;
  margin: 9px auto;
}