* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  color: #343a40;
  /* font-family: LXGWWenKai; */
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* 网页内容居中 */
/* 整体 Con: container El:header container-1  */
.container {
  width: 1200px;
  margin: 18px auto;
  display: grid;
  flex-direction: column;
  gap: 36px;
}

.container-2 {
  justify-self: center;
  width: 1100px;
  display: flex;
}

/* 标题栏组件 Con:header El:header-logo, nav */
.container-1 {
  background-color: #e8590c;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.085);
  padding: 10px 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 160px 1fr 160px;
}

.el {
  flex: 0 0 66px;
  justify-items: end;
}

/*logo组件 grid layout Con：header-logo El：h1, loading-img, txt */
.header-logo {
  display: grid;
  flex-direction: column;
  align-items: end;
  justify-items: left;
}

h1 {
  color: #fff4e6;
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -3px;
}



#time {
  color: #fff4e6;
  font-size: 12px;
  line-height: 1.5;
  justify-self: left;
  margin-left: 4px;
}

/* 文章抬头组件 co:header el:h2, article-detail*/
header {
  display: grid;
  flex-direction: column;
  justify-items: center;

  /* align-items: center; */
  font-size: 12px;
}

header h2 {
  color: #ffe8cc;
  font-size: 42px;
  align-self: end;
}

.article-detail {
  display: flex;
  gap: 20px;
  align-self: flex-start;
  color: #ffc078;
}

/* article-detail 子元素 */


header p {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
}

.icon-write {
  height: 12px;
  width: 12px;
  transform: translate(0, 10%);
}


/* nav 组件 */
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: right;
}

.btn:link,
.btn:visited {
  color: #ffe8cc;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #292e4918;
  border-radius: 5px;
}

.btn--big {
  font-size: 24px;
  padding: 4px 8px;
}